 * {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
 }
 .container {
     display: flex;
     justify-content: center;
     align-items: center;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     color: #5172ff;
 }
 .btn-container {
     display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;

 }
 .btn-container button {
     font-size: 20px;
     border-style: none;
     background-color: #969696;
     color: white;
     border-radius: 25px;
     cursor: pointer;
     
  
 }
 .btn-container button p{
     margin: 5px;
 }